:root {
    --base-bg: #161616;
    --white: #fff;
    --gray: rgba(22, 22, 22, 0.7);
    --main: #DD0000;
    --opacity-low: rgba(255, 255, 255, 0.1);
    --border: rgba(232, 232, 232, 1);
    --footer: #B9B9B9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

section {
    padding: 40px 0;
}

section.first {
    padding-top: 80px;
}

section.last {
    padding-bottom: 80px;
}

.section-container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
}

hr {
    padding: 30px 0;
    color: var(--opacity-low);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #121212;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    line-height: 45px;
}

p,
span {
    font-size: 16px;
    line-height: 25px;
}

p {
    color: #707070;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #FF5959;
}

ul {
    list-style: none;
}

input {
    border: 0;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
}

.btn.btn-base-color {
    background: #FF5959;
    color: var(--white);
}

/* .column-elements {
    padding-right: 10px;
    padding-left: 10px;
} */

.col-40 {
    flex: 0 0 40%;
}

.col-50 {
    flex: 0 0 50%;
}

.col-60 {
    flex: 0 0 60%;
}

.col-100 {
    flex: 0 0 100%;
}

.row {
    margin: 0 10px;
}

.inner-section {
    display: flex;
    flex-wrap: wrap;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.pt-45 {
    padding-top: 45px;
}

.horizontal-row {
    border-top: 1px solid var(--opacity-low);
    margin: 50px 0;
}

/* -------------- Hero Section Style Start -------------- */
/* .hero-section {
    max-height: 650px;
} */

.hero-section .section-container {
    background: var(--base-bg);
    border-radius: 30px;
}

.hero-section .section-container .column-elements:first-child {
    padding: 80px;
}

.hero-section .section-container .column-elements:last-child {
    display: flex;
    padding: 40px 60px 0 40px;
}

.hero-section h1 {
    color: var(--white);
    margin-bottom: 20px;
}

.hero-section p {
    color: var(--border);
    margin-bottom: 30px;
}

.hero-section a i {
    padding-left: 6px;
}

.hero-section img {
    width: 80%;
    margin: 0 auto;
}

/* -------------- Hero Section Style End -------------- */


/* -------------- Football Info Section Style Start -------------- */
.football-info {
    padding: 80px 0;
}

.football-info .section-container {
    display: flex;
    flex-wrap: nowrap;
}

.football-info .section-container>.col-fixed-width {
    flex: 0 0 312px;
}

.col-fixed-width nav {
    background: var(--base-bg);
    padding: 30px;
    border-radius: 10px;
}

.col-fixed-width nav li {
    margin-bottom: 30px;
}



.col-fixed-width nav li:last-child {
    margin-bottom: 0;
}

.col-fixed-width nav a {
    width: 100%;
    background: #fff;
    color: var(--base-bg);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.page-id-1 .col-fixed-width nav li.active a {
    background: var(--main);
    color: var(--white);
}

.football-info .section-container>.col-auto {
    flex: auto;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

}

.grid-items {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.grid-items img {}

.grid-items .grid-item-content {
    padding: 20px;
}

.grid-items .grid-item-content li {
    display: inline;
    padding-right: 15px;
}

.grid-items h3 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.grid-items h3 a {
    color: var(--base-bg);
}

.grid-items .info-category {
    margin-bottom: 15px;
}

.grid-items .info-category a {
    color: var(--base-bg);
    padding: 2px 10px;
    border: 1px solid var(--base-bg);
    border-radius: 5px;
}

.grid-items .optional-info {
    color: var(--gray);
}

.grid-items .optional-info i {
    padding-right: 5px;
    font-weight: 300;
}

/* -------------- Football Info Section Style End -------------- */


/* -------------- Footer Style Start -------------- */
footer {
    background-color: var(--base-bg);
    text-align: center;
    padding: 80px 10px;
}

footer h3 {
    color: var(--white);
    font-size: 40px;
    line-height: 60px;
}

footer nav {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    color: var(--footer);
}

/* -------------- Footer Style End -------------- */




@media (max-width: 1024px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-section .section-container {
        max-width: 734px;
    }

    .hero-section .section-container .column-elements:first-child {
        padding: 60px 0 60px 60px;
    }

    .hero-section .section-container .column-elements:last-child {
        padding: 40px 0 0 0;
    }

    .hero-section p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .football-info .section-container {
        flex-wrap: wrap;
    }

    .football-info .section-container>.col-fixed-width,
    .football-info .section-container>.col-auto {
        flex: 0 0 100%;
    }

    .col-fixed-width nav {
        background: unset;
    }

    .col-fixed-width nav ul {
        display: flex;
    }

    .col-fixed-width nav ul li {
        flex: 33.33%;
        margin-bottom: unset;

        margin: 8px;

    }

    .col-fixed-width nav ul li a {
        border: 1px solid var(--border);
        border-radius: 10px;
    }

    .col-fixed-width nav ul li:last-child a {
        border: unset;
    }

    .info-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0 30px;
    }

    footer nav {
        max-width: 700px;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer nav a {
        flex: 0 0 25%;
        margin: 20px 0;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 22px;
        line-height: 33px;
    }

    .hero-section {
        padding: 20px;
    }

    .hero-section .section-container {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .hero-section .section-container .column-elements {
        flex: 0 0 100%;

    }

    .hero-section .section-container .column-elements:first-child {
        padding: 30px 40px;
        text-align: center;
    }

    .hero-section p {
        font-size: 14px;
        line-height: 24px;
    }

    .hero-section .section-container .column-elements:last-child {
        padding: 0;
    }

    .hero-section img {
        width: 60%;
    }

    .football-info {
        padding: 20px 0;
    }

    .col-fixed-width nav ul {
        flex-direction: column;
        text-align: center;
    }

    .col-fixed-width nav a {
        width: unset;
        padding: 10px 35px;
    }

    .info-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 0 20px;
    }

    footer {
        padding: 25px;
    }

    footer h3 {
        font-size: 22px;
        line-height: 33px;
    }

    .horizontal-row {
        margin: 25px 0;
    }
}